<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>924809309420-lvib8sgr66t2jju0nkfmtkoape11lqdm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.924809309420-lvib8sgr66t2jju0nkfmtkoape11lqdm</string>
	<key>API_KEY</key>
	<string>AIzaSyAg_pwFJ9FQfkKQlHHPMpXCIr3swzFYEXM</string>
	<key>GCM_SENDER_ID</key>
	<string>924809309420</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firebaseAuthP2</string>
	<key>PROJECT_ID</key>
	<string>fir-auth-p2-ed55d</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-auth-p2-ed55d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:924809309420:ios:bec56ff5816c8fb46009c9</string>
</dict>
</plist>